<section class="container">
  <% allGames.forEach(games => { %>
  <table class="table table-hover ">
    <thead >
      <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Genre</th>
        <th>Lanseringsdatum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= games.id %></td>
        <td><%= games.title %></td>
        <td><%= games.genre %></td>
        <td><%= games.release_year %></td>
      </tr>
    </tbody>
  </table>
  <% }) %>
</section>
