* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  
}

a {
  text-decoration: none;
  cursor: pointer;
}

input#search {
  width: 65%;
}
.brand {
  background-color: #fff;
  
  
}
.brandImg{
  width: 10rem;
  border-radius: 1rem;
  
  
}